.pageWrapper {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    position: relative;
    overflow: hidden;
}

.bgImage {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: -1;
}

.bgImage.visible{
    opacity: 1;
}

.paperContainer {
    padding: 32px;
    max-width: 400px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    z-index: 1;
}
