.pageWrapper {
    min-height: 100vh;
    background-image: url('/images/vecteezy_abstract-wave-style-background-with-geometric-japanese_6570511.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
.paperContainer {
    padding: 32px;
    max-width: 400px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}
